.app{
    width: 100%;
    background-image: linear-gradient(to right, #000000 ,#051421);
}

.same__contant{
    display: flex;
}

.main_contentBLog{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 768px){
    .app{
        height: 1606em;
    }
}
